# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[**.{js,jsx}]
max_line_length = off

[**.json]
quote_type = double
max_line_length = off