.exam-text {
  margin-top: 60px;
  font-size: 40px;
  margin-bottom: 40px;
}

.left-box {
  color: grey;
  font-size: 25px;
  margin-top: 170px;
  margin-bottom: 170px;
}

.right-box {
  font-size: 25px;
  color: grey;
  margin-top: 170px;
  margin-bottom: 170px;
}

.small-white-text {
  font-size: 15px;
}
