.hello-message {
  margin: 60px;
  font-size: 50px;
}

.click-here-text {
  font-size: 12px;
  font-weight: 700;
}

.description-text {
  font-size: 13px;
  line-height: 1.7;
}

.blue-line {
  margin-top: 30px;
  height: 5px;
  background-color: rgb(206, 224, 226);
}
